html {
    line-height: 1.15;
}

body {
    margin: 0px;
    height: auto;
    width: 100%;
    min-width: 1440px;
    min-height: 3000px;
}
 
main {
    padding: 10px 0px 0px 10px;
    background-color: #202124;
    width: 100%;
    min-height: 3000px;
}
 
h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}
 
pre {
    font-family: monospace, monospace;
    font-size: 1em;
}
 
a {
    background-color: transparent;
}
 
abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    text-decoration: underline dotted;
}
 
b,strong {
    font-weight: bolder;
}
 
code,kbd,samp {
    font-family: monospace, monospace;
    font-size: 1em;
}
 
small {
    font-size: 80%;
}
 
sub,sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
 
sub {
    bottom: -0.25em;
}
 
sup {
    top: -0.5em;
}
 
img {
    border-style: none;
}
 
button,input,optgroup,select,textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}
 
button,input {
    overflow: visible;
}
 
button,select {
    text-transform: none;
}
 
button,
[type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
}
 
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
}
 
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
}
 
fieldset {
    padding: 0.35em 0.75em 0.625em;
}
 
legend {
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal;
}
 
progress {
    vertical-align: baseline;
}
 
textarea {
    overflow: auto;
}
 
[type="checkbox"],
[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}
 
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    height: auto;
}
 
[type="search"] {
    -webkit-appearance: textfield;
    outline-offset: -2px;
}
 
[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}
 
::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
}
 
details {
    display: block;
}
 
summary {
    display: list-item;
}
 
template {
    display: none;
}
 
[hidden] {
    display: none;
 
}

/* /main part */

table {
    border-spacing: 0;
    border-collapse: separate;
    width: 900px;
    margin: 30px;
    background-color: #222325;
    border: 1px solid rgba(255,255,255,.5);
    border-radius: 5px;
}
 
tr {
    border-top: 1px solid #777575;
}
 
th, td {
    border-bottom: 1px solid rgba(255,255,255,.5);
    height: 40px;
    text-align: left;
    padding-left: 15px;
    color: rgba(255,255,255,.5);
    font-family: "Segoe UI",Arial,sans-serif;
}
 
th,span {
    line-height: 20px;
    font-size: 1em;
    color: #ffffff;
}
 
#left_th {
    width: 525px;
}

#centr_th {
    width: 280px;
}

#right_th {
    width: 245px;
}

.dot {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #777575;
}
 
.dots {
    width: 25px;
    height: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 0px 0px 80%;
}
.triangle {
    margin: 4px 0px 0px 8px;
    height: 0px;
    width: 0px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 8px solid #ffffff;
}
 
.triangle_row, .icon {
    display: flex;
    align-items: center;
    margin: 0px 0px 0px 0px;
}
p {
    margin: 0px 0px 0px 0px;
}

.box {
    width: 13px;
    height: 13px;
    margin-right: 5px;
}

#left_2_th{
    width: 525px;
}
 
#centr_2_th {
    width: 280px;
}
 
#right_2_th {
    width: 245px;
}

#left_3_th {
    width: 525px;
}
 
#centr_3_th {
    width: 280px;
}
 
#right_3_th {
    width: 245px;
}

img {
    width: 24px;
    height: 24px;
    margin-right: 8px; 
}
 
input[type="checkbox"] {
    margin: 0px 5px 0px 0px;
    opacity: 0.4;
}
 
input[type="checkbox"]:checked{
    opacity: 1;
}

input[type="search"] {
    height: 40px;
    width: 98%;
    font-size: 16px;
    background-image: url(../img/magnifier.png);
    background-size: 15px;
    background-repeat: no-repeat;
    background-position: left 10px center;
    padding-left: 30px;
    background-color: #414141;
    border-radius: 8px;
    color: aliceblue;
    border: 1px solid rgb(131, 130, 130);
}

input[type="search"]:focus {
    border: 1px solid #777575;
    outline: none;
    background: none;
    padding: 0px;
    color: #ffffff;
    width: 98%;
    padding-left: 10px;
    background-color: #414141;
}