body {
    height: auto;
    width: 100%;
    margin: 0px 0px 0px 0px; 
    min-width: 1440px;
}

.main{
    width: 100%;
    height: 500px;
    background: #ED4C5C;
}

.contact{
    width: 100%;
    height: 500px;
    display: flex;
}
.footer{
    width: 100%;
    height: 435px;
    background: #FAFAFA;
    display: flex;
    margin-top: 45px;
} 
.txt{
    position: absolute;
    width: 445px;
    height: 195px;
    left: 165px;
    top: 122px;
    gap: 24px;  
    display: flex;
    flex-direction: column;
}

.main_title{
    width: 445px;
    height: 107px;
    margin: 0px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 43px; 
    color: #FFFFFF;
}

.main_txt{
    margin: 0px;
    width: 445px;
    height: 64px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    text-align: justify;
    color: #FFFFFF;
}
 
.app{
    display: flex;
    position: absolute;
    width: 134px;
    height: 32px;
    left: 163px;
    top: 357px;
    justify-content: space-between;
}
 
.googleplay{
    position: relative;
    width: 32px;
    height: 32px;
    left: 0px;
}

.applestore{
    position: relative;
    width: 28px;
    height: 28px;
    top: 2px;    
}
 
.microsofstore{
    position: relative;
    width: 24px;
    height: 24px;
    top: 4px;
}

.slider{
    position: relative;
    width: 533px;
    height: 311px;
    left: 691px;
    top: 94px;
 
}
.main_img{
    width: 445px;
    height: 311px;
    background: url(../img/main_pic.png), #C4C4C4;
    border-radius: 15px;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 44px;
}

.bc_pic1{
    position: absolute;
    width: 383px;
    height: 267px;
    background: url(../img/bcpic1.png), #C4C4C4;
    opacity: 0.5;
    border-radius: 15px;
    left: 0;
    top: 22px;
}

.bc_pic2{
    position: absolute;
    width: 383px;
    height: 267px;
    background: url(../img/bcpic2.png), #C4C4C4;
    opacity: 0.5;
    border-radius: 15px;
    right: 0;
    top: 22px;
}